{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h1 class="text-center">Results</h4>
    <p class="text-center"><i>
        {% if human %}
            <h4 class="text-center">Thank you for playing, human! </h4>
            <p class="text-center">We noticed that you uploaded an image of a human, and with {{'%0.2f' % (certainty*100)|float}}% certainty that the person in the image has features of a {{breed}}</p>
        {% else %}
            <p class="text-center">Based on the file shown below we can say with a {{'%0.2f' % (certainty*100)|float}}% certainty that the breed is {{breed}}</p>
        {% endif %}
    </i></p>
{% endblock %}

{% block content %}
    <div>
        <h2 class="text-center">Uploaded image</h2>
        <ul class="list-group text-center">
            <img src="{{url_for('static', filename=received_file)}}">
    </div>

    <hr>
    <h2 class="text-center">Sample images</h2>

    {% for image in sample_images %}
    <div>
        <ul class="list-group text-center">
            <img src="{{image}}">
    </div>
    {% endfor %}
{% endblock %}
